.Navbar{
  width: 100%vh;
  background-color: #7400b0;
  height: 15vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 20px;

}

.navlink{
  list-style: none;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  margin-top: 50px;
  /* background-color: #fff; */
  color: #fff;
  border-radius: 10px;
}
.navlink:hover{
  background-color: #7400b0;
  color: #fff;
}
.Navbar nav{
  margin-bottom: 20px;
}
.navlink:active{
  background-color: grey;
}
.signup{
  width: 100vw;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.form-control{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  width:350px;
}
.form-control input{
  padding: 10px;
  margin:7px;
  border-radius: 5px;
  border: 1px solid grey;
  width:300px;
}
.form-control button{
  width: 100px;
}

.charts{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
/* .secondary-chart{
  width: 22vw;
  height: 52vh;
  margin-top: 19px;
  padding-left: 3px;
  margin-left: 10px;

} */

.piechart{
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-chart{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  padding-left: 500px;
}
.new-primary-chart{
margin-left: 100px;
}

.sidebar{
  height: 90vh;
  width: 15vw;
  border-right: 1px solid grey;
}
.mini-sidebar{
  background-color:#d9d9d9;
  height:25%;
  width: 100%;
  right: 10px;
  padding-top: 20px;
}
.main-sidebar{

  padding-top: 20px;
  height: 60%;
  /* align-self: flex-start; */
  width: 100%;
}
.btn{
  color: #fff;
  background-color: #7400b0;
  border: none;
  padding: 5px;
  border-radius: 20px;
}

.icon{
  margin-right: 10px;
  font-size: 25px;
  /* border: 1px solid blue; */
}
.icon-text{
  display: flex;
  /* align-items: center;
  justify-content: center; */
  cursor: pointer;
  color: grey;
  margin-top: 20px;
  /* width: 50%; */
  margin-left: 20px;
  width: 70%;
  /* border: 1px solid red; */
  padding-left: 0px;
  
}
.icon-text:hover{
  color: #fff;
  border: 1px solid grey;
  width: 70%;
  padding: 5px;
  border-radius: 20px;
  background-color: #7400b0;
}
.dash-btn{
  color: grey;
  border: 1px solid grey;
  width: 70%;
  padding: 5px;
  border-radius: 20px;
  background-color: #fff;
}